

        <div class="app-page-title">
          <div class="page-title-wrapper">
              <div class="page-title-heading" style="width: 100%;">
                  <div class="page-title-icon">
                      <i class="pe-7s-shield icon-gradient bg-ripe-malin">
                      </i>
                  </div>
                  <div>{{ 'Contact.Contacts' | translate }}
                      <div class="page-title-subheading">{{ 'Contact.ContactTitle' | translate }}
                      </div>
                  </div>
              </div>   
          </div>
      </div> 
      
      
      <div class="row">
              <div class="col-md-12">
                  <div class="tabs-animation">
                      <div class="main-card mb-3 card">
                          <div class="card-header">
                              <i class="header-icon pe-7s-shield icon-gradient bg-love-kiss"> </i>
                              {{ 'Contact.UpdateContact' | translate }}
                          </div>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="main-card mb-3 card">
                                          <div class="card-body">
                                            <button mat-raised-button (click)="isLinear = !isLinear">
                                              {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
                                            </button>
                                            <mat-horizontal-stepper [linear]="isLinear" #stepper>
                                              <mat-step [stepControl]="contactForm">
                                                <form [formGroup]="contactForm">
                                                    <ng-template matStepLabel>{{ 'Form.HeadPrincipalLabel' | translate }}</ng-template>
                                                    
                                                    
                                                      <div class="form-row">
                                                        <div class="col-md-12">
                                                            <div class="position-relative form-group"><label for="exampleEmail55">{{ 'Form.NameLabel' | translate }}</label><input name="name_contact" type="text" formControlName="name"  class="form-control {{ isSubmitted && form.name.errors ? 'is-invalid' : '' }}" placeholder="{{'Form.NameField' | translate}}"  >
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="form-row">
                                                            <div class="col-md-6">
                                                                    <div class="position-relative form-group"><label for="exampleSelect" class="">{{ 'Form.TypeLabel' | translate }}</label><select name="select" formControlName="type"  class="form-control {{ isSubmitted && form.type.errors ? 'is-invalid' : '' }}" >
                                                                            <option>INTERNAL</option>
                                                                            <option>EXTERNAL</option>
                                                                        </select></div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                    <div class="position-relative form-group"><label for="exampleSelect" class="">{{ 'Form.NatureLabel' | translate }}</label><select name="select" formControlName="nature"  class="form-control {{ isSubmitted && form.nature.errors ? 'is-invalid' : '' }}" class="form-control">
                                                                            <option>PHYSIC</option>
                                                                            <option>MORAL</option>
                                                                        </select></div>
                                                                </div>
                                                            
                                                        </div>
                                                    <div class="position-relative form-group"><label for="exampleSelect" class="">{{ 'Form.GenderLabel' | translate }}</label><select name="select" formControlName="gender"  class="form-control {{ isSubmitted && form.gender.errors ? 'is-invalid' : '' }}" class="form-control">
                                                            <option value="M">Male</option>
                                                            <option value="F">Female</option>
                                                            
                                                        </select></div>
                                                        <div class="position-relative form-group">
                                                                <label for="exampleText" class="">{{ 'Form.DescriptionLabel' | translate }}</label>
                                                                <textarea name="text" id="exampleText" formControlName="description"  class="form-control {{ isSubmitted && form.description.errors ? 'is-invalid' : '' }}" placeholder="{{'Form.DescriptionField' | translate}}">
                                        
                                                                </textarea>
                                                            </div>
                                                        <div class="position-relative form-group"><label for="exampleFile" class="">{{ 'Form.ImageLabel' | translate }}</label><input name="file" id="exampleFile" type="file" class="form-control-file" (change)=detectimage($event) >
                                                                <small class="form-text text-muted">{{'Form.ImageField' | translate}}</small>
                                                            </div>
                                                        <div>
                                                              <button mat-button matStepperNext>Next</button>
                                                            </div>
                                                    </form>

                                                    
                                                
                                              </mat-step>
                                              <mat-step [stepControl]="secondFormGroup">
                                                <form [formGroup]="secondFormGroup">
                                                        <ng-template matStepLabel>{{ 'Form.HeadAddresLabel' | translate }}</ng-template>
                                                        <div class="form-row">
                                                          <div class="col-md-12">
                                                              <div class="position-relative form-group"><label for="exampleEmail55">{{ 'Form.EmailLabel' | translate }}</label><input name="email" formControlName="email"  class="form-control {{ isSubmitted && form.email.errors ? 'is-invalid' : '' }}" placeholder="with a placeholder" type="email" class="form-control">
                                                              </div>
                                                          </div>
                                                          
                                                      </div>
                                                      <div class="position-relative form-group"><label for="exampleAddress">{{ 'Form.FaxLabel' | translate }}</label><input name="address" id="exampleAddress" formControlName="fax"  class="form-control {{ isSubmitted && form.fax.errors ? 'is-invalid' : '' }}" placeholder="{{'Form.FaxField' | translate}}" type="text" class="form-control"></div>
                                                      <div class="position-relative form-group"><label for="exampleAddress2">{{ 'Form.BpLabel' | translate }}</label><input name="address2" id="exampleAddress2"formControlName="bp"  class="form-control {{ isSubmitted && form.bp.errors ? 'is-invalid' : '' }}"  placeholder="{{'Form.BpField' | translate}}" type="text"
                                                                                                                                                    class="form-control">
                                                      </div>
                                                      <div class="form-row">
                                                          <div class="col-md-4">
                                                              <div class="position-relative form-group"><label for="exampleCity">{{ 'Form.Phone1Label' | translate }}</label><input name="city" id="exampleCity" formControlName="phone1"  class="form-control {{ isSubmitted && form.phone1.errors ? 'is-invalid' : '' }}" type="text" class="form-control" placeholder="{{'Form.Phone1Field' | translate}}"></div>
                                                          </div>
                                                          <div class="col-md-4">
                                                              <div class="position-relative form-group"><label for="exampleState">{{ 'Form.Phone2Label' | translate }}</label><input name="state" id="exampleState" formControlName="phone2"  class="form-control {{ isSubmitted && form.phone2.errors ? 'is-invalid' : '' }}" type="text" class="form-control" placeholder="{{'Form.Phone2Field' | translate}}"></div>
                                                          </div>
                                                          <div class="col-md-4">
                                                              <div class="position-relative form-group"><label for="exampleZip">{{ 'Form.Phone3Label' | translate }}</label><input name="zip" id="exampleZip" type="text" formControlName="phone3"  class="form-control {{ isSubmitted && form.phone3.errors ? 'is-invalid' : '' }}" class="form-control" placeholder="{{'Form.Phone1Field' | translate}}"></div>
                                                          </div>
                                                      </div>  
                                                        <div>
                                                          <button mat-button matStepperPrevious>Back</button>
                                                          <button mat-button matStepperNext>Next</button>
                                                        </div>
                                                </form>
                                              </mat-step>

                                              <mat-step [stepControl]="secondFormGroup">
                                                  <form [formGroup]="secondFormGroup">
                                                          <ng-template matStepLabel>{{ 'Form.HeadSocialLabel' | translate }}</ng-template>
                                                          <div class="position-relative form-group"><label for="exampleAddress">Facebook</label><input name="address" id="exampleAddress" formControlName="facebook"  class="form-control {{ isSubmitted && form.facebook.errors ? 'is-invalid' : '' }}" placeholder="1234 Main St" type="text" class="form-control" placeholder="{{'Form.FacebookField' | translate}}"></div>
                                
                                                          <div class="position-relative form-group"><label for="exampleAddress2">twitter</label><input name="address2" id="exampleAddress2" formControlName="twitter"  class="form-control {{ isSubmitted && form.twitter.errors ? 'is-invalid' : '' }}" placeholder="Apartment, studio, or floor" type="text" class="form-control" placeholder="{{'Form.TwitterField' | translate}}"></div>
                                                           
                                                          <div class="position-relative form-group"><label for="exampleAddress">Whatsapp</label><input name="address" id="exampleAddress" formControlName="whatsapp"  class="form-control {{ isSubmitted && form.whatsapp.errors ? 'is-invalid' : '' }}" placeholder="1234 Main St" type="text" class="form-control" placeholder="{{'Form.WhatsappField' | translate}}"></div>
                                                         
                                                          <div class="position-relative form-group"><label for="exampleAddress2">Linkedin</label><input name="address2" id="exampleAddress2" formControlName="linkedin"  class="form-control {{ isSubmitted && form.linkedin.errors ? 'is-invalid' : '' }}" placeholder="Apartment, studio, or floor" type="text" class="form-control" placeholder="{{'Form.LinkedinField' | translate}}"></div>
                                                              
                                                          <div>
                                                            <button mat-button matStepperPrevious>Back</button>
                                                            <button mat-button matStepperNext>Next</button>
                                                          </div>
                                                  </form>
                                                </mat-step>
                                              
                                              <mat-step>
                                                <ng-template matStepLabel>Done</ng-template>
                                                <p>You are now done.</p>
                                                <div>
                                                  <button mat-button matStepperPrevious>Back</button>
                                                  <button mat-button (click)="stepper.reset()">Reset</button>
                                                </div>
                                              </mat-step>
                                            </mat-horizontal-stepper>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
      
      
      
