<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-graph icon-gradient bg-ripe-malin">
                </i>
            </div>
            <div>{{ 'Home.Title' | translate }}
                <div class="page-title-subheading">This dashboard was created as an example of the flexibility that Architect offers.
                </div>
            </div>
        </div>   
    </div>
</div>   

<div class="tabs-animation">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title form-title">Controls Types</h5>
                    <form class="">
                        <div class="position-relative form-group">
                            <label for="exampleEmail" class="">Email</label>
                            <input name="email" id="exampleEmail" placeholder="with a placeholder" type="email" class="form-control">
                        </div>
                        <div class="position-relative form-group">
                            <label for="exampleSelect" class="">Select</label>
                            <select name="select" id="exampleSelect" class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="position-relative form-group">
                            <label for="exampleText" class="">Text Area</label>
                            <textarea name="text" id="exampleText" class="form-control"></textarea>
                        </div>
                        
                        <button class="mt-1 btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>