<div class="tabs-animation">
    <div class="row">
        <div class="col-lg-12 col-xl-10 align-middle" style="margin:auto; vertical-align: middle; padding-top:7%;">
            <div class="main-card mb-3 card align-middle"style="height:400px">
                <div class="card-body"><h1 class="card-title" style="text-align: center; font-size:50px; padding-top: 13%; color: rgb(217, 37, 80); ">{{ 'NotFound.description' | translate }}</h1>
                    <div style="magin:auto"><span class="glyphicon glyphicon-eye-close"></span></div>
                    <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">  
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>