<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading" style="width: 100%;">
            <div class="page-title-icon">
                <i class="metismenu-icon pe-7s-plane">
                </i>
            </div>
            <div>{{ 'Vacation.Vacations' | translate }}
                <div class="page-title-subheading">{{ 'Vacation.VacationTitle' | translate }}
                </div>
            </div>
            <div class="page-title-actions">
                <a type="button" [routerLink]="['/vacations/add']" data-toggle="tooltip" title="{{ 'Vacation.VacationAdd' | translate }}" data-placement="bottom" class="mb-2 mr-2 btn-icon btn-shadow btn-outline-2x btn btn-outline-primary" style="padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px; flex-direction: row;">
                    <!-- <i class="pe-7s-diskette btn-icon-wrapper" style="font-size: 1.2em;"></i> -->
                    <p style="font-size: 1.2em; margin-top: 7%;">{{ 'Vacation.VacationAdd' | translate }}</p>
                </a>
            </div>
        </div>   
    </div>
</div>   

<div class="tabs-animation">
    <div class="main-card mb-3 card">
        <div class="card-header">
            <i class="metismenu-icon pe-7s-plane"> </i>
            {{ 'Vacation.Vacations' | translate }}
        </div>
        <div class="card-body">
            
            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'Form."CreatedAtField' | translate }}</th>
                        <th>{{ 'Form."StatusMention' | translate }}</th>
                        <th>{{ 'Form.StartDateProposal' | translate }}</th>
                        <th>{{ 'Form.StartDateAccord' | translate }}</th>
                        <th>{{ 'Form.RequireDaysl' | translate }}</th>
                        <th>{{ 'Form.AccordDays' | translate }}</th>
                        <th>{{ 'Form.DescriptionLabel' | translate }}</th>
                        <th>{{ 'Form."ReasonLabel"' | translate }}</th>
                        
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vacation of vacations,let i = index" id="tr{{ vacation.id }}">
                        <td>{{ i+1 }}</td>
                        <td style="width: 20%">{{ vacation.file }}</td>
                        <td style="width: 20%">{{ vacation.status }}</td>
                        <td style="width: 20%">{{ vacation.requested_start_date }}</td>
                        <td style="width: 20%">{{ vacation.accorded_start_date }}</td>
                        <td style="width: 20%">{{ vacation.requested_days }}</td>
                        <td style="width: 20%">{{ vacation.accorded_days }}</td>
                        <td style="width: 25%">{{ vacation.description }}</td>
                        
                        <td style="width: 10%">{{ vacation.raison }}</td>
                        <td style="width: 15%">
                            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-primary" (click)="editVacation(vacation)"><i class="pe-7s-pen btn-icon-wrapper"> </i></button>
                            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-success" (click)="detailsVacation(vacation)"><i class="pe-7s-info btn-icon-wrapper"> </i></button>
                            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger" (click)="deleteVacation(vacation)"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot *ngIf="loading && (!vacations || !vacations.length)">
                    <td colspan="7" class="text-center">
                        <div class="spinner-border spinner-sm">
                            <span class="sr-only">Patientez svp...</span>
                        </div>
                    </td>
                </tfoot>
                <tfoot *ngIf="!loading && (!vacations || !vacations.length)">
                    <td colspan="7" class="text-center">
                        Liste vide
                    </td>
                </tfoot>
            </table>
        </div>
    </div>
</div>