
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-graph icon-gradient bg-ripe-malin">
                </i>
            </div>
            <div>{{ 'Settings.Settings_Title' | translate }}
                <div class="page-title-subheading">{{ 'Settings.Settings_Name' | translate }}
                </div>
            </div>
        </div>   
    </div>
</div>   

<div class="tabs-animation">
    <div class="row">
        <div class="col-md-8">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title form-title">
                        <div> {{ 'Settings.Settings_Title' | translate }}</div>
                    </h5>
                    <form (submit)="onSubmit()" [formGroup]="settingForm">
                        <div class="position-relative form-group">
                            <label for="exampleKey" class="">{{ 'Form.Key' | translate }} </label>
                            <input name="key" id="exampleKey" required="required" placeholder="{{ 'Form.KeyField' | translate }}" type="text" formControlName="key" class="form-control {{ isSubmitted && form.key.errors ? 'is-invalid' : '' }}">
                        </div>

                        <div class="position-relative form-group">
                            <label for="exampleValue" class="">{{ 'Form.Value' | translate }} </label>
                            <input name="value" id="exampleValue" placeholder="{{ 'Form.ValueField' | translate }}" type="text" formControlName="value" class="form-control">
                        </div>
                        
                        <div class="position-relative form-group">
                            <label for="exampleText" class="">{{ 'Form.DescriptionLabel' | translate }}</label>
                            <textarea name="text" id="exampleText" class="form-control" formControlName="description">
                                {{ 'Form.DescriptionField' | translate }}
                            </textarea>
                        </div>

                        <div class="d-flex align-items-center" style="width: 100%;">
                            <button  [disabled]="isLoading" class="btn btn-primary btn-lg" style="width: 50%; justify-content: center; align-items: center; flex: 1;">
                                <p *ngIf="!isLoading" style="font-size: 1.2em; padding: 0px; margin: 5px;">{{ 'Settings.Add_Settings' | translate }}</p>
                                <div *ngIf="isLoading" style="padding: 15px; margin-left: 50%;">
                                    <div class="ball-scale-multiple">
                                        <div style="background-color: white;"></div>
                                        <div style="background-color: white;"></div>
                                        <div style="background-color: white;"></div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>