<div class="main-card mb-3 card"> 

    <div class="card-header">

        <i class="header-icon pe-7s-tools icon-gradient bg-love-kiss"> </i>
        Options

    </div>

    <div class="card-body">

        <div class="text-center">
            <button (click)="chooseFile()" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-focus" type="button" data-toggle="tooltip" title="Upload pdf" data-placement="top" id="get_file">
                <i class="pe-7s-upload btn-icon-wrapper"> </i>
                {{ 'DocumentViewer.BROWSER_FILE_BUTTON_LABEL' | translate }}
            </button>
            <input type="file" accept=".pdf" (change)="fileProgress($event.target.files[0])" id="my_file"/>

            <div *ngIf="file !== null">

                <u> {{ 'DocumentViewer.FILE_NAME_MSG' | translate }}</u> &nbsp; <strong> {{ file.name }} </strong>
    
            </div>
            
        </div>

    </div>

</div>

<div class="main-card mb-3 card">

    <div class="card-header">

        <i class="header-icon lnr-book icon-gradient bg-love-kiss"> </i>
        {{ 'DocumentViewer.PREVIEW_TITLE' | translate }}

    </div>

    <div class="card-body">

        <div *ngIf="isLoadingDocument">

            <div class="font-icon-wrapper float-left">
                <div class="loader-wrapper d-flex justify-content-center align-items-center">
                    <div class="loader">
                        <div class="ball-pulse-rise">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <p> {{ 'DocumentViewer.DOCUMENT_LOADING_MSG' | translate }} </p>
            </div>

        </div>

        <section *ngIf="!isLoadingDocument">

            <pdf-viewer
                [src]="pdfUrl" 
                [fit-to-page]="true"
                [render-text]="true"
            ></pdf-viewer>

        </section>

    </div>

    <div class="d-block text-right card-footer">

        <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i>Delete</button>
    
    </div>

</div>