<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading" style="width: 100%;">
            <div class="page-title-icon">
                <i class="metismenu-icon pe-7s-display1">
                </i>
            </div>
            <div>{{ 'Career.Careers' | translate }}
                <div class="page-title-subheading">{{ 'Career.CareerTitle' | translate }}
                </div>
            </div>
        </div>   
    </div>
</div>   

<div class="row">
    <div class="col-md-12">
        <div class="tabs-animation">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    <i class="metismenu-icon pe-7s-display1"> </i>
                    {{ 'Career.Careers' | translate }}               
                    </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <!-- jiozangtheophane@gmail.com -->
                                    <form (submit)="onSubmit()" [formGroup]="careersForm">
                                        <!-- <div class="position-relative form-group">
                                            <label for="examplePassword" class="">{{ "Form.UserLabel" | translate }}</label>
                                            <select formControlName="user_id" class="form-control {{ isSubmitted && form.user_id.errors ? 'is-invalid' : '' }}">
                                                <option value="" disabled selected hidden>{{ 'Form.UserLabel'| translate }}</option>
                                                <option *ngFor="let user of users"  value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
                                            </select>
                                        </div> -->
                                        <div class="position-relative form-group">
                                            <label for="examplePassword" class="">{{ "Form.Pro_situationsLabel" | translate }}</label>
                                            <select formControlName="pro_situation_id" class="form-control {{ isSubmitted && form.pro_situation_id.errors ? 'is-invalid' : '' }}">
                                                <option value="" disabled selected hidden>{{ 'Form.Pro_situationsLabel'| translate }}</option>
                                                <option *ngFor="let pro_situation of pro_situations"  value="{{pro_situation.id}}">{{pro_situation.name}} </option>
                                            </select>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="examplePassword" class="">{{ "Form.DivisionsLabel" | translate }}</label>
                                            <select formControlName="division_id" class="form-control {{ isSubmitted && form.division_id.errors ? 'is-invalid' : '' }}">
                                                <option value="" disabled selected hidden>{{ 'Form.DivisionsLabel'| translate }}</option>
                                                <option *ngFor="let division of divisions"  value="{{division.id}}">{{division.name}} </option>
                                            </select>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="exampleText" class="">{{ "Form.Date" | translate }} </label>
                                            <input name="date" id="exampleText" placeholder="{{ 'Form.Date' | translate }}" type="date" formControlName="effective_date"  class="form-control">
                                        </div>
                                        <div class="d-flex align-items-center" style="width: 100%;">
                                            <button  [disabled]="isLoading" class="btn btn-primary btn-lg" style="width: 50%; justify-content: center; align-items: center; flex: 1;">
                                                <p *ngIf="!isLoading" style="font-size: 1.2em; padding: 0px; margin: 5px;">{{ "Form.CreateCareer" | translate }}</p>
                                                <div *ngIf="isLoading" style="padding: 15px; margin-left: 50%;">
                                                    <div class="ball-scale-multiple">
                                                        <div style="background-color: white;"></div>
                                                        <div style="background-color: white;"></div>
                                                        <div style="background-color: white;"></div>
                                                    </div>
                                                </div>
                                            </button>
                                      </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    