<div class="app-page-title">
  <div class="page-title-wrapper">
      <div class="page-title-heading" style="width: 100%;">
          <div class="page-title-icon">
              <i class="pe-7s-shield icon-gradient bg-ripe-malin">
              </i>
          </div>
          <div>{{ 'DisciplinaryBoard.DisciplinaryBoards' | translate }}
              <div class="page-title-subheading">{{ 'DisciplinaryBoard.DisciplinaryBoardTitle' | translate }}
              </div>
          </div>
          <div class="page-title-actions">
              <a type="button" [routerLink]="['/disciplinary_boards/add']" data-toggle="tooltip" title="{{ 'DisciplinaryBoard.AddDisciplinaryBoard' | translate }}" data-placement="bottom" class="mb-2 mr-2 btn-icon btn-shadow btn-outline-2x btn btn-outline-primary" style="padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px; flex-direction: row;">
                  <!-- <i class="pe-7s-diskette btn-icon-wrapper" style="font-size: 1.2em;"></i> -->
                  <p style="font-size: 1.2em; margin-top: 7%;">{{ 'DisciplinaryBoard.AddDisciplinaryBoard' | translate }}</p>
              </a>
          </div>
      </div>
  </div>
</div>

<div class="tabs-animation">
  <div class="main-card mb-3 card">
      <div class="card-header">
          <i class="header-icon pe-7s-shield icon-gradient bg-love-kiss"> </i>
          {{ 'DisciplinaryBoard.DisciplinaryBoards' | translate }}
      </div>
      <div class="card-body">

          <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>{{ 'Form.NameLabel' | translate }}</th>
                      <th>{{ 'Form.Reason' | translate }}</th>
                      <th>{{ 'Form.Location' | translate }}</th>
                      <th>{{ 'Form.Team' | translate }}</th>
                      <th>{{ 'Form.Decision' | translate }}</th>
                      <th>{{ 'Form.Date' | translate }}</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let disciplinaryBoard of disciplinaryBoards,let i = index" id="tr{{ disciplinaryBoard.id }}">
                      <td>{{ i+1 }}</td>
                      <td style="width: 15%">{{ disciplinaryBoard.user.login }}</td>
                      <td style="width: 20%">{{ disciplinaryBoard.raison }}</td>
                      <td style="width: 15%">{{ disciplinaryBoard.location }}</td>
                      <td style="width: 15%">{{ disciplinaryBoard.disciplinaryteam.name }}</td>
                      <td style="width: 10%">{{ disciplinaryBoard.decision }}</td>
                      <td style="width: 10%">{{ disciplinaryBoard.effective_date }}</td>
                      <td style="width: 15%">
                          <button class="mr-2 btn-icon btn-icon-only btn btn-outline-primary" (click)="editDisciplinaryBoard(disciplinaryBoard)"><i class="pe-7s-pen btn-icon-wrapper"> </i></button>
                          <button class="mr-2 btn-icon btn-icon-only btn btn-outline-success" (click)="detailsDisciplinaryBoard(disciplinaryBoard)"><i class="pe-7s-info btn-icon-wrapper"> </i></button>
                          <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger" (click)="deleteDisciplinaryBoard(disciplinaryBoard)"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
                      </td>
                  </tr>
              </tbody>
              <tfoot *ngIf="loading && (!disciplinaryBoards || !disciplinaryBoards.length)">
                  <td colspan="7" class="text-center">
                      <div class="spinner-border spinner-sm">
                          <span class="sr-only">Patientez svp...</span>
                      </div>
                  </td>
              </tfoot>
              <tfoot *ngIf="!loading && (!disciplinaryBoards || !disciplinaryBoards.length)">
                  <td colspan="7" class="text-center">
                      Liste vide
                  </td>
              </tfoot>
          </table>
      </div>
  </div>
</div>
